#signup {
    background-image: url(../images/hubble.jpg);
    height: 900px;
}

.signupbody {
    background-color: white !important;
    height: 100%;
    border-radius: 10px ;
}

#acc {
    color:red;
    text-align: right;
}

